body {
    background: rgb(185, 238, 238);
    height: 100vh;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    position: relative;
    font-family: 'Roboto',sans-serif;
  }

 .nav-area{
     float: right;
     list-style: none;
     margin-top: 30px;
 }
 .nav-area li{
     display: inline-block;
 }
 .nav-area li a{
     color: rgb(236, 47, 180);
     text-decoration: none;
     padding: 5px 20px;
     font-family: poppins;
     font-size: 16px;
 }
 .nav-area li:hover{
    background: rgb(255, 255, 255);
    color: rgb(209, 10, 110);
}

.dropbtn {
    padding: 5px 20px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: rgb(247, 176, 209);}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: rgb(255, 255, 255);}

 /*NEW*/
  
  #com1, #com2, #com3, #com4, #com5{
    margin-left: 20px;
  }
  .center {
          background: rgba(255, 168, 242, 0.8);
                  text-align: center;
                  margin-top: 30px;
                  margin-right: 220px;
                  margin-left: 220px;
                  border-radius: 5px;
                  height: max-content;
        }
  .center img {
          margin-right: 1em;
                  margin-left: 0.5em;
                  width: 400px;
                  height: 450px;
                  border-radius: 6px;
                  margin-top: 30px;
        }
        
  .like{
          color: #dd1f9e;
          margin-left: 650px;
          font-size: 1em;
       }
#counter1,#counter2,#counter3,#counter4, #counter5, #counter6, #counter7, #counter8, #counter9, #counter10{
          color:#ddd6d6 ;
        }
  .like {
          display: block;
          margin-top: 30px;
          margin-left: 33%;
          margin-right: auto;
          width: 5%;
        }
        .fa-heart {
          color: #e60480;
          
        }
        .fa-heart:hover{
          color: rgb(183, 240, 221);
        }
         
.komentar{
          background: none;
          border: none;
          border-bottom:#cadef1 solid 1px ;
          color: #000000;
        }
.pom{
        color:  #cddceb;
        background: none;
        border: none;
                 
              }
.pom:hover{
            color: white;
          }
       